{% extends "base.html" %}
{% load static %}
{% block title %}
    Article`s List
{% endblock %}
{% block content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <!-- Banner Ends Here -->

<div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h3 class="text-white">Contact with us :</h3>
                            <h4 class="text-content">{{ request.user }} {{ request.user.last_name }}</h4>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="contact-us">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <div class="down-contact">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="sidebar-item contact-form">
                                    <div class="sidebar-heading">
                                        <h2>Contact With Us :</h2>
                                    </div>
                                    <div class="content">
                                        <form id="contact" action="" method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="container" style="position: absolute ; margin-left: 15cm">
                                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3191.0139905033757!2d30.64084718519316!3d36.89001357033935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c391ec14a87227%3A0x1345a553f2fea463!2sCasamax!5e0!3m2!1sfa!2str!4v1673819007300!5m2!1sfa!2str"
                                                            width="600" height="450" style="border:0;"
                                                            allowfullscreen="" loading="lazy"
                                                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                                                </div>
                                                <div class="">
                                                    {{ form }}

                                                    <div class="col-lg-12">
                                                        <fieldset>
                                                            <button type="submit" id="form-submit" class="main-button"
                                                                    style="--button-bg:">
                                                                Send
                                                                Message
                                                            </button>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section>

{% endblock %}